name: Apps24 Core Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.3
          extensions: mbstring, dom
          tools: composer:v2

      - name: Install Laravel
        run: composer create-project --prefer-dist laravel/laravel:^12.0 laravel

      - name: ENV
        run: |
          cd laravel
          echo "APP24_ID=app_id" >> .env
          echo "APP24_SECRET=secret" >> .env
          cd ..

      - name: Install dependencies
        run: |
          cd laravel
          composer config minimum-stability dev
          composer require flamix/app24-core:dev-main
          composer install --prefer-dist --no-interaction --no-scripts --no-progress --no-suggest --prefer-source --dev
          cd ..

      - name: SQLLite file
        run: |
          cd laravel
          touch database/database.sqlite
          cd ..

      - name: Run tests
        run: |
          cd laravel
          ./vendor/bin/phpunit --configuration ./vendor/flamix/app24-core/phpunit.xml ./vendor/flamix/app24-core/tests
          cd ..